header {
    background-image: url("/Header.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
  }



.stroke-text {
  color: white; 
  -webkit-text-stroke: 1px black; 
  max-width: 50vw;
  text-align: center;
  font-family: Arial, sans-serif; 
}
